// 
// 
// prism.scss
//
//

@import "../../components/plugins/prism";



// code {

//     background-color: unset;
//     border: unset;
//     border-radius: unset;
//     padding: unset;
//     font-weight: unset;
//     color: unset;
    
//     font-weight: normal;
//     font-family: "Lucida Console", Monaco, monospace !important;
//     font-size: 14px;
// }

code[class*='language-']{
  border: none;
  font-family: "Lucida Console", Monaco, monospace !important;
  line-height: 18px;
  padding: 0;
}

article{
  pre[class*='language-']{
    border: 1px solid #4d6986;
    border-left-width: 10px;
    font-weight: normal;
    font-size: 14px;
  }
}

pre[class*='language-']{
  padding: $spacer;
}

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted{
  color: $code-color;
}