/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

pre {
    padding: 16px;
    background-color: #fff;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    border: 1px solid #dee3e8;
    border-left: 12px solid #e9edf1;
    line-height: 18px;
}

code {
    font-weight: normal;
    font-family: "Lucida Console", Monaco, monospace !important;
    font-size: 14px;
}

p code {
    background-color: #fff;
    border: 1px solid #dee3e8;
    border-radius: 4px;
    padding: 2px 6px 2px 6px;
    font-weight: bold;
    color: #b62a2a;
}

#TableOfContents {
    font-size: smaller;
}

#TableOfContents ul {
    list-style: none;
    padding: 0;
}

#TableOfContents li {
    display: block;
    padding-left: 16px;
}

#TableOfContents li a {
    padding: 8px 0 8px 18px;
    display: block;
    color: #666;
    border-bottom: 1px solid #EDEDDE;
    line-height: 20px;
    font-weight: 500;
}

#TableOfContents>ul>li>a {
    font-weight: 800 !important;
}

#TableOfContents li a:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #333;
    margin: 6px 0 0 -10px;
    position: absolute;
}

.note-text {
    font-weight: 400;
}

.note-header {
    display: block;
    padding-bottom: 8px;
}

.note {
    border: 1px solid #93bfd0;
    border-left-width: 16px;
}

body {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

h3, .h3 {
    font-size: 1.5rem;
    color: #35383f;
}

.markdown-img {
    max-height: 400px;
    padding-bottom: 24px;
}